.project-view-container {
    padding: 10px;
    text-align: center;
}

.project-view-container h1 {
    font-size: 2rem;
    margin-top: 70px;
    font-weight: 700;
}

.project-view-container h1 span {
    color: #FFC107;
}

.project-view-container p {
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-view {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 4rem;
    margin-right: 4rem;
}

.project-card {
    background-color: rgb(255, 255, 255);
    border: 1px solid #FFC107;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 31%;
    margin-top: 1.5rem;
    transition: transform 0.5s ease;
}

.project-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    margin-top: 1px 0 0 0;
    border-radius: 7px;
}

.project-content {
    padding: 10px;
}

.date-donasi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.date-donasi p {
    margin: 0;
    font-size: 0.8rem;
    color: #555;
}

.date-donasi h5 {
    margin: 0;
    font-weight: normal;
    color: #aaa205;
}

.project-description {
    margin-bottom: 10px;
}

.project-description h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.project-description p {
    color: #666;
    font-size: 0.85rem;
}

.project-description a {
    color: #aaa205;
    text-decoration: none;
}

.project-description a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.project-description button {
    color: black;
    border: 1.2px solid #FFC107;
    border-radius: 5px;
    padding: 7px 40px;
    margin-top: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.project-description button:hover {
    background-color: #F2BA12;
    color: white;
}

.project-card:hover {
    transform: scale(1.08);
}

@media (max-width: 768px) {
    .project-card {
        width: calc(48% - 10px);
    }

    .project-description button {
        padding: 8px 30px;
        font-size: 0.9em;
    }

    .date-donasi {
        flex-direction: column;
        align-items: flex-start;
    }

    .date-donasi h5,
    .date-donasi p {
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    .project-card {
        width: 100%;
    }

    .project-description button {
        padding: 6px 20px;
        font-size: 0.8em;
    }

    .project-view {
        flex-direction: column;
    }
}